.main_calendar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_calendar_main {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.calendar_holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
