.clinic_item {
  border: 1px solid rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  border: 2px solid red;
  margin-bottom: 10px;
  border-radius: 20px;
}

.doc_img_item {
  width: 25%;
  padding: 5px 5px;
}

.doc_img_item img {
  border-radius: 10px;
  width: 250px;
}

.doc_name_item {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

h2 {
  color: #03506f;
  text-decoration: none;
}
